* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: conic-gradient(from 0deg at 100% 100%, #2D1469 -86.41deg, #DA37AA 2.98deg, #2D1469 273.59deg, #DA37AA 362.98deg);
  display: flex;
  justify-content: center;
  color: #fff;
}

#container {
  height: 80vh;
  width: 60vw;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container h1 {
  text-align: center;
  margin: 5rem auto;
}

#container p {
  color: #DA37AA;
  font: 600 1.5rem sans-serif;
  margin: 3rem auto;
}

#container button {
  border: 0;
  width: 100%;
  padding: 1rem;
  background: #2D1469;
  color: #fff;
  font: 600 1rem sans-serif;
  border-radius: 0.4rem;
  outline: 0;
}